{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}


<!DOCTYPE html>
<html>
    <head>
        <title>Shorten the url</title>
    </head>

    <body>
      <div class="col-md-3">
      </div>
      <div class="col-md-6">
        {% block content %}
        {% endblock content %}
      </div>
      <div class="col-md-3">
      </div>
    </body>
</html>
