{% extends 'base.html' %}

{% load bootstrap3 %}


{% block content %}

<form role="form" method="POST">
    <legend>Shorten your url!</legend>
    {% csrf_token %}
    {% bootstrap_form form %}
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

{% for message in messages %}
    <div class="{{ message|bootstrap_message_classes }} alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&#215;</button>
        {{ message|safe }}
    </div>
{% endfor %}

{% endblock content %}
